APP_PORT=80

JWT_SECRET=mBMYX7vJTHGItC5JjwHcGqBjP6xalIfPNV4MrvF13V9

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=test
MYSQL_PASSWORD=test
MYSQL_DATABASE=test

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

MAX_REQUESTS_PER_MINUTE=100